{% load jinja_tags %}
{% load static %}

<table class="table3 w-100">
    <tr>
        <th colspan="4" class="w-100 center h-25">Insumos</th>
    </tr>
    {% for insumo in insumos %}
    <tr class="back{{forloop.counter|back_class}}">
        <td colspan="3" class="left w-80">
            {{insumo.insumo}}, <b>Cant: {{insumo.cantidad}}</b>
        </td>
        <td class="center w-20">
            <img src="{% static '/img/png/delete.png' %}" class="ico_img pointer" onclick="quitarInsumo('{{insumo.insumo_id}}');">
        </td>
    </tr>
    {% endfor %}
    <tr class="back1">
        <td colspan="4" class="w-100">&nbsp;</td>
    </tr>
</table>