{% load humanize %}
{% load jinja_tags %}
{% load static %}

<table class="tablac w-100">
    {% for stock in stock_producto %}
    <tr class="back1">
        <td class="w-20 right" {% if forloop.counter == 1 %}id="columna1_{{producto_id}}" {% endif %}>
            <input type="text" tabindex="-1" id="f_venc_{{stock.stock_id}}" name="f_venc_{{stock.stock_id}}" value="{{stock.fecha_vencimiento|fecha_mostrar:"d-M-yy"}}" class="form-control input right w-99" readonly="readonly"
                onfocus="focoDetalle('columna1_');" onblur="pierdeFocoDetalle();">
            <input type="hidden" name="stock_ids_{{producto_id}}" id="stock_ids_{{producto_id}}" value="{{stock_ids}}">
            <input type="hidden" name="f_elab_{{stock.stock_id}}" value="{{stock.fecha_elaboracion|fecha_mostrar:"d-M-yy"}}">
        </td>
        <td class="w-20 right" {% if forloop.counter == 1 %}id="columna2_{{producto_id}}" {% endif %}>
            <input type="text" tabindex="-1" id="lote_{{stock.stock_id}}" name="lote_{{stock.stock_id}}" value="{{stock.lote}}" class="form-control input right w-99" readonly="readonly" onfocus="focoDetalle('columna2_');"
                onblur="pierdeFocoDetalle();">
        </td>
        <td class="w-13 right" {% if forloop.counter == 1 %}id="columna3_{{producto_id}}" {% endif %}>
            <input type="text" tabindex="-1" id="actual_{{stock.stock_id}}" name="actual_{{stock.stock_id}}" value="{{stock.cantidad}}" class="form-control input right w-99" readonly="readonly" onfocus="focoDetalle('columna3_');"
                onblur="pierdeFocoDetalle();">
        </td>
        <td class="w-13 right" {% if forloop.counter == 1 %}id="columna4_{{producto_id}}" {% endif %}>
            <input type="text" autocomplete="off" class="form-control input right w-98" name="cantidad_{{stock.stock_id}}" id="cantidad_{{stock.stock_id}}" onkeyup="validarNumero(this);controlarStock('{{stock.stock_id}}');"
                onfocus="focoDetalle('columna4_');" onblur="pierdeFocoDetalle();">
        </td>
        <td class="w-14 right" {% if forloop.counter == 1 %}id="columna5_{{producto_id}}" {% endif %}>
            <table class="tablac w-100 right">
                <tr>
                    <td rowspan="2" class="right w-90">
                        <input type="text" autocomplete="off" class="form-control input right w-98" name="costo_{{stock.stock_id}}" id="costo_{{stock.stock_id}}" onkeyup="validarNumeroPunto(this);" onfocus="focoDetalle('columna5_');">
                    </td>
                    <td class="center w-10 h-6 v-bottom">
                        <img src="{% static '/img/pass/up1.jpg' %}" class="pointer" id="up_{{stock.stock_id}}" onmousedown="cambiarUp('up_{{stock.stock_id}}');" onmouseup="volverUp('up_{{stock.stock_id}}');"
                            onclick="aumentarCosto('costo_{{stock.stock_id}}');">
                    </td>
                </tr>
                <tr>
                    <td class="center w-10 h-6 v-top">
                        <img src="{% static '/img/pass/down1.jpg' %}" class="pointer" id="down_{{stock.stock_id}}" onmousedown="cambiarDown('down_{{stock.stock_id}}');" onmouseup="volverDown('down_{{stock.stock_id}}');"
                            onclick="disminuirCosto('costo_{{stock.stock_id}}');">
                    </td>
                </tr>
            </table>
        </td>
        <td class="w-20 right" {% if forloop.counter == 1 %}id="columna6_{{producto_id}}" {% endif %}>
            <input type="text" class="form-control input right w-98" name="total_{{stock.stock_id}}" id="total_{{stock.stock_id}}" readonly="readonly" onfocus="focoDetalle('columna6_');" onblur="pierdeFocoDetalle();">
        </td>
    </tr>
    {% endfor %}
</table>